body{
  margin:0;
  margin-bottom: 0;
  text-align: center;
  font-family:'Merriweather', serif;

}
.top{
  background-color: #e2f8f7;
  position: relative;

}
h1{
font-family: 'Sacramento', cursive;
font-size: 69px;
margin-top: 50px;
  color: black;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  color: black;
}
.bottom-class{
  position: absolute;
}
.bottom-container{
  background-color: #66BFBF;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.top-c{
  position: relative;
  left: 200px;
  top: 30px;
}
.img1{
  width: 200px;
  height: 200px;
border-radius: 50%;
float: left;
margin-right: 30px;

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:#EAF6F6;
  border-width: 5px;
  width: 5%;
}
.img2{
  width: 200px;
  height: 200px;
border-radius: 50%;
float: right;
margin-left: 60px;

}
.skills{
  width: 100%;
  margin:100px auto 100px auto;


}
.para{
  position: relative;
  right: 20%
}
.middle-container{
width: 50%;
margin:100px auto 100px auto;

}
